.container{
    margin-top: 50px;

}

.form-group {
    margin: 20px auto;margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    
   
}

.btn-lg{
margin-left: 20px;
height:calc(1.5em + 1rem + 2px);
}
.col-form-label-lg{
width: 200px;
}

#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }